// buttons
// dropdown
// thumbnail
// label
// forms


// TYPOGRAPHY ======================================

.section-header
  margin-top: 1em
  margin-bottom: 2em

// BUTTONS ======================================
.btn-secondary
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border)

.btn-default
  background-color: transparent
  &:hover
    background-color: transparent

.btn-link
  &:hover, &:focus
    text-decoration: $link-hover-decoration

// LABELS ======================================
.label
  padding: .2em .8em .3em
  border-radius: 1em
  margin-right: 0.5em
  &:last-child
    margin-right: 0
  &:hover
    background-color: darken($gray-light, 10%)
  &.active
    background-color: $brand-secondary
    &:hover
      background-color: darken($brand-secondary, 10%)
  a
    color: #fff
    &:hover
      color: #fff

.label-secondary
  @include label-variant($label-secondary-bg)

// THUMBNAIL ======================================

.thumbnail
  position: relative
  .caption
    margin-bottom: 30px
  .btn
    position: absolute
    bottom: 0
    left: 0
    width: 100%
  &:hover
    @include box-shadow(2px 2px 13px 0px rgba(0,0,0,.1))
    .btn-secondary
      background-color: $brand-secondary-dark

.settings
  width: 100%
  border: 1px solid $brand-secondary
  margin-bottom: 1.5em
  .settings-header
    background-color: $brand-secondary
    color: #fff
    padding: 10px
  h3
    margin: 0
    font-size: 18px
  .settings-body
    padding: 10px


// WELL =======================================
.well
  color: #fff



// FORMS ======================================

.form-label-default
  @extend .control-label
  @extend .col-md-2
  font-weight: normal
.form-label-large
  @extend .control-label
  @extend .col-md-4
.controls-default
  @extend .col-md-3
.controls-small
  @extend .col-md-2
.controls-xsmall
  @extend .col-md-1
.controls-large
  @extend .col-md-6
.controls-xlarge
  @extend .col-md-8
.form-actions
  @extend .col-md-offset-2
  @extend .col-md-10

.required
  label:after
    content: " *"
    color: #000
  label
    font-weight: bold
h3.page-title
  margin: 7px 0 15px

// Tableaux
td.action-btns
  text-align: right
  white-space: nowrap
td.action-btns-tight
  a.btn
    padding-left: 7px
    padding-right: 7px


.error_explanation
  @extend .alert
  @extend .alert-danger

.field_with_errors
  @extend .has-error
  display: inline

#flash
  position: fixed
  z-index: 1500
  top: 70px
  font-size: 1.2em
  width: 100%
  text-align: center
  span.alert
    padding: 10px 14px
