// grid
// header
// footer
// sidebar
// navigation


body
  padding-top: 51px

.container-small
  max-width: $container-sm

section
  padding-bottom: 2.5em
  padding-top: 2.5em

section.full-page
  min-height: 100vh

.social-icon
  a 
    font-size: 18px
    color: #fff
    margin-left: 15px

footer
  padding-bottom: 2em