// grid
// header
// footer
// sidebar
// navigation


body
  padding-top: 51px

.container-small
  max-width: $container-sm

section
  padding-bottom: 1em
  padding-top: 1em

section.full-page
  min-height: 100vh