// HOME

#animated-phrase
  @include animation-delay(2s)
  @include animation-duration(3s)

// CONTACT
.contact-form
  max-width: 80%
  margin: 0 auto

.contact-success
  margin: 0 auto
  padding: 20px
  max-width: 80%
  background-color: #fff
  color: $brand-primary


// STYLEGUIDE

.sg-block
  width: 100%
  height: 40px

#styleguide
  .btn, .label
    margin-right: 10px

.primary-bg
  background-color: $brand-primary

.secondary-bg
  background-color: $brand-secondary

.gray-base-bg
  background-color: $gray-base

.gray-darker-bg
  background-color: $gray-darker

.gray-dark-bg
  background-color: $gray-dark

.gray-bg
  background-color: $gray

.gray-light-bg
  background-color: $gray-light

.gray-lighter-bg
  background-color: $gray-lighter



.primary-text
  color: $brand-primary

.secondary-text
  color: $brand-secondary

.gray-base-text
  color: $gray-base

.gray-darker-text
  color: $gray-darker

.gray-dark-text
  color: $gray-dark

.gray-text
  color: $gray

.gray-light-text
  color: $gray-light

.gray-lighter-text
  color: $gray-lighter

.btn
  margin-right: 10px